/* common css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.frame {
    width: 1170px;
    margin: auto;
}

.setup {
    display: flex;
   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,a,b{
    font-weight: 800;
}

/* common css end */
/* nav css start */
nav {
    background-color: #02918c;
}

nav div {
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    justify-content: flex-end;
    color: #ffffff;
    font-size: 12px;
   
    padding: 26px 25.5px;
    display: inline-block;
}

/* nav css end */
/*  */
#banner {
    height: 728px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgb(0, 0, 68, 0.60)), url(../image/banner.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    
}
section .banner-font h3{
    font-size: 30px;
    line-height: 25px;
    font-weight: 400;
}
section .banner-font h1{
    font-size: 68px;
    line-height: 75px;
    margin: 23px;
    text-transform: uppercase;
    letter-spacing: 30px;
    
}
section .banner-font p{
    font-size: 18px;
    line-height: 33px;
}
section .banner-font img{
    padding: 52px;
}
section .banner-font a{
    color:#0b1016;
    font-size: 14px;
    line-height: 30px;          
    padding: 17px 42px;
    
    background-color:#cfc91d ;
    text-transform: uppercase;
    display: inline-block;
}
/* about css start */
#about{
    text-align: center;
    padding: 98px 0;
    color: #7e8287;
}
#about .about-intro h2{
    font-size: 46px;
    
    color:#02918c;
    text-transform: uppercase;
}


#about .about-intro p{
    font-size: 16px;
    line-height: 41px;
    padding: 0 137px;
   
}
#about .about-intro p b{
    font-size: 23px;
    line-height: 41px;
    
}
.about-item .about-item-wrap{
    width:25%;
    border-right: 1px solid #7e8287;
    padding:37px 65px;
    margin-top: 80px;
}
.about-item .about-item-wrap h4{
    font-size: 16px;
    line-height: 23px;
    padding: 29px 0;
    

}
.about-item .about-item-wrap p {
    font-size: 11px;
    line-height: 21px;
}
#service {
    justify-content:end;
}
#service .service-item .setup .service-item-wrap{
    width: 50%;
    flex-wrap: wrap;
    
}
#service .service-image{
    height: 729;
}


/* about css end



/*  */